<app-nav-bar></app-nav-bar>
<div class="container mt-5 pt-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-12">
      <h1 class="text-center mt-5">Welcome to E-Commerce</h1>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <table
        class="my-5 table table-bordered table-striped text-center table-dark rounded"
      >
        <thead>
          <th>Ürün İsmi</th>
        </thead>
        <tbody>
          <app-shop></app-shop>
        </tbody>
      </table>
    </div>
  </div>
</div>
